APP_ENV=dev
PORT=8080
DB_DSN=
REDIS_ADDR=
TRUSTPIN_BASE_URL=http://trustpin.kaizen3.online
TRUSTPIN_API_KEY=
JWT_ISSUER=trustpin
JWT_AUDIENCE=mobile
# you can either supply the PEM contents directly or point to files below.
# if the *_FILE variables are set, they take precedence. defaults for local
# development are config/jwt_public.pem and config/jwt_private.pem.
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nREPLACE_WITH_PUBLIC_KEY\n-----END PUBLIC KEY-----\n"
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_PRIVATE_KEY\n-----END PRIVATE KEY-----\n+"

# alternative: set paths to files containing the PEM values
JWT_PUBLIC_KEY_FILE=
JWT_PRIVATE_KEY_FILE=
HTTP_TIMEOUT=5s
RETRY_MAX=2
RETRY_BACKOFF=200ms
